.App {
  text-align: center;
  background-image: url('C:\Users\clara\Projects\login-page\src\backgroung-login.jpg');
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-login {
  width: 300px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.container {
  display: inline-block;
  vertical-align: middle; 
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.label-login {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.input-user-login {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  background-image: url(C:\Users\clara\Projects\login-page\src\user.png);
  background-size: 20px 20px;
  background-position: 10px center; 
  background-repeat: no-repeat;
  padding-left: 40px;
}

.input-password-login {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  background-image: url(C:\Users\clara\Projects\login-page\src\password.png);
  background-size: 15px 20px;
  background-position: 10px center; 
  background-repeat: no-repeat;
  padding-left: 40px;
}

.button {
  width: 100%;
  background-color: lightskyblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.checkbox-login {
  display: flex;
  float: left;
  text-align: left;
  margin-bottom: 10px;
}

.label-remember-me {
  display: inline-block;
  font-size: 12px;
}

.forgot-password {
  float: right;
  font-size: 12px;
  text-decoration: none;
  color: lightskyblue;
}

.sign-up {
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  margin-top: 15px;
}
